<html>
<head>
<style>
      body{
       
        background: url(https://thumbs.gfycat.com/VictoriousAmusedBullfrog-size_restricted.gif);
        background-color: #444; 
        background-position: center;
       
      }

      .vertical-offset-100{
        padding-top:100px;
      }
</style>
</head>
<body>
<h1><%=link_to @subject.description, animes_path%></h1>
<h2><%=link_to"Watch free Anime " ,"https://kissanime.ru/Anime/Free"%></h2>
</body>
</html>




